<!DOCTYPE html>
<html>
{block name="head"}head{/block}

<body class="top-navigation">

<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom white-bg">
            {include file="../application/index/view/Inspinia_Centered/topnav.html" /}
        </div>

        {block name="content"}content{/block}

        {include file="../application/index/view/Inspinia_Centered/footer.html" /}

    </div>
</div>




{block name="end"}end{/block}



</body>
</html>